/* 
A unidade REM funciona baseado na tamanho da fonte padrão do navegador
   O tamanho padrão de REM é 16 se eu dividir por 62.5% cada REM valerá 10px
   assim ficando mais simples de calcular o tamanho.
*/
/*
Display block pega toda largura da pagina
display inline pega so o tamanho do proprio conteudo 
*/
*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --primary-color:hsla(170, 100%, 26%, 1);
  --primary-headline: hsla(210, 11%, 15%, 1);
  --primary-paragraph:hsla(210, 9%, 31%, 1);
  --primary-button:hsla(0, 0%, 100%, 1);
}
body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
}
header{
  width: 37.5rem;
  margin: 4.1rem auto 0 auto;
}
h4{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.4rem;
}
h1{
  font-size: 3.4rem;
  color: var(--primary-headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}
p{
  font-size: 1.8rem;
  color: var(--primary-paragraph);
  margin-bottom: 3.2rem;
}
button{
  border: none;
  border-radius: 4rem;
  background: var(--primary-color);
  margin-bottom: 6rem;
  height: 6.2rem;
  width: 26.3rem;
  color: var(--primary-button);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}
